# ignore the files
#*.csv
#*.ipynb
neat-checkpoint*
.DS_Store
speciation.svg
*.jpg

# ignore the folders
*.ipynb_checkpoints/
__pycache__/
venv/
.vscode/
XOR/xoreach/
*_diff/
*each/
*every/
functions/
bpusd/
lynx/
XOR/
mnist/